@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --font-main: 'Montserrat', sans-serif;
}

body, html, .font-main {
  font-family: var(--font-main) !important;
}
