@import "tailwindcss";


/* Rainbow text utility: each letter gets a different color */

.rainbow-text > span:nth-child(11n+1) { color: #f87171; }   /* red-400 */
.rainbow-text > span:nth-child(11n+2) { color: #fb923c; }   /* orange-400 */
.rainbow-text > span:nth-child(11n+3) { color: #facc15; }   /* yellow-400 */
.rainbow-text > span:nth-child(11n+4) { color: #4ade80; }   /* green-400 */
.rainbow-text > span:nth-child(11n+5) { color: #60a5fa; }   /* blue-400 */
.rainbow-text > span:nth-child(11n+6) { color: #818cf8; }   /* indigo-400 */
.rainbow-text > span:nth-child(11n+7) { color: #a78bfa; }   /* purple-400 */
.rainbow-text > span:nth-child(11n+8) { color: #f472b6; }   /* pink-400 */
.rainbow-text > span:nth-child(11n+9) { color: #14b8a6; }   /* teal-400 */
.rainbow-text > span:nth-child(11n+10) { color: #84cc16; }  /* lime-400 */
.rainbow-text > span:nth-child(11n+11) { color: #f59e42; }  /* amber-400 */
